*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.df{
    display: flex;
}
.sb{
    justify-content: space-between;
}
.column{
    flex-direction: column;
}
.aic{
    align-items: center;
}
body{
    padding:4%;
}
ul{
    list-style: none;
    gap:1.1em;
    align-items: center;
}
a{
    text-decoration: none;
    color:grey;
    font-size: 0.95em; 
}
.topleft{
    gap:3em;
}
button{
    cursor: pointer;
    color:white;
    background: darkblue;
    font-weight: 700;
    font-size: 0.8em;
    border:none;
    padding:1em 1.4em;
    border-radius: 4px;
}
nav img{
    width:30px;
}
